
<style>
    section{
        padding: 60px 0;
    }
    .gallery{
        padding: 80px 0px;
    }
    img{
        max-width: 100%;
    }
    .gallery img{
        background: rgb(235, 211, 211);
        padding: 2px;
        width: 100%;
        box-shadow: 0px 0px 15px rgba(0,0,0.3);
        cursor: pointer;
    }
    #gallery-popup .modal-img{
        width: 100%;
      }

    
    
</style>
<!-- navbar -->


<!-- main image and intra text -->
<section id="HOME" style="background-image: linear-gradient();">
    <div class="container-lg">
        <div class="row justify-conten-center align-items-center ms-5">
            <div class="col-md-5 text-center text-md-start">
            <h1>
                <div class="display-2"> COMPUTERS-WORLD</div>
                <div class="display-5 text-muted"> Choose your Computer</div>
            </h1>
            <p class="lead my-4 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio error ipsum officia </p>
            <a href="#PRICING" class="btn-rahmat btn-secondary btn-lg"style="text-decoration:none">Buy Now</a>
        </div>
        <div class="col-md-5 text-center d-none d-md-block">
            <img class="img-fluid" src="./4.jpg" alt="computers ">
        </div>
    </div>
    </div>
</section>

<!-- CARD IN BOOTSTAP-->
<SEction id="PRICING" class="bg-light mt-4">
    <div class="container-lg">
        <div class="text-center">
            <h2> Pricing Plans</h2>
            <p class="lead text-muted"> Choose Your Items</p>
        </div>
        <div class="row align-items-center justify-content-center g-0">
            <div class="col-8 col-md-4 col-lg-3">
                <div class="card border-3">
                    <img src="./5.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title"> New-Genration pc</h4>
                        <p class="card-subtitle"> PHP-CoreI-7</p>
                        <p class="display-6 my-1 text-primary fw-bold">$1800</p>
                        <p class="card-text mx-1 text-muted d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cons</p>
                        <a href="#" class="btn btn-outline-secondary btn-sm mt-1"> BUY-NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-4 col-lg-3">
                <div class=" card border-primary border-3">
                    <div class="card-header text-center text-primary">Most-Pupular</div>
                    <img src="./2.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title"> GAMING-COMPUTER</h4>
                        <p class="card-subtitle"> PHP-CoreI-7</p>
                        <p class="display-6 my-1 text-primary fw-bold">$1600</p>
                        <p class="card-text mx-1 text-muted d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cons</p>
                        <a href="#" class="btn btn-outline-secondary btn-sm mt-1"> BUY-NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-4 col-lg-3">
                <div class="card border-3">
                    <img src="./5.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center py-4">
                        <h6 class="card-title"> SERVER-COLLECTION</h6>
                        <p class="card-subtitle"> SERVER-CoreI-7</p>
                        <p class="display-5 my-1 text-primary fw-bold">$2500</p>
                        <p class="card-text mx-1 text-muted d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cons</p>
                        <a href="#" class="btn btn-outline-secondary btn-sm mt-1"> BUY-NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</SEction>

<!-- ACCORDIANT MEAN LIKE LIST CLICK ON IT IT WLL OPEN THE LIST  component of website-->
<SEction id="ABOUT">
    <div class="container-md">
        <div class="text-center">
            <h2> TRY THE BEST TECHNOLOGY-COMPONET BY US</h2>
            <p class="lead text-muted"> quick check our Items in the check-list</p>
        </div>
        <div class="row my-5 g-3 justify-conten-around align-center">
            <div class="col-sm-6 col-lg-4">
                <img src="./6.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 col-lg-8">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          LAPTOPS& ITS COMPONENTS
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          GAMING-COMPUTERS
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          MOBILE&ITS COMPUTERNT 
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</SEction>

<!-- contact form -->
  <!-- form-control, form-label, form-select, input-group, input-group-text -->
  <section id="CONTACT" class="bg-light">
    <div class="container-lg">
      
      <div class="text-center">
        <h2> CONTACT WITH US AND SHARE YOUR SUGGESTIONA</h2>
        <p class="lead"> ask Questions AND Fill out the form to contact me directly...</p>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-lg-6">
          
          <form>
            <label for="email" class="form-label">Email address:</label>
            <div class="input-group mb-4">
              <span class="input-group-text">
                <i class="bi bi-envelope-fill text-secondary"></i>
              </span>
              <input type="text" id="email" class="form-control" placeholder="e.g. haidari.rah10@example.com" />
            </div>
            <label for="name" class="form-label">Name:</label>
            <div class="mb-4 input-group">
              <span class="input-group-text">
                <i class="bi bi-person-fill text-secondary"></i>
              </span>
              <input type="text" id="name" class="form-control" placeholder="e.g. Rahmat" />
            </div>
            <label for="subject" class="form-label">What is your question about?</label>
            <div class="mb-4 input-group">
              <span class="input-group-text">
                <i class="bi bi-chat-right-dots-fill text-secondary"></i>
              </span>
              <select class="form-select" id="subject">
                <option value="pricing" selected>Pricing query</option>
                <option value="content">Content query</option>
                <option value="other">Other query</option>
              </select>
            </div>
            <div class="mb-4 mt-5 form-floating">
              <textarea class="form-control" id="query" style="height: 140px" placeholder="query"></textarea>
              <label for="query">Your query...</label>
            </div>
            <div class="mb-4 text-center">
              <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="GALLERY" class="min-vh-100 mt-0 pt-0">
    <div class="text-center">
        <h2> OUR-GALLERY </h2>
        <p class="lead">WATCH OUR ITEMS AND SELLECT YOUR DREAM FROM OUR GALLERY...</p>
      </div>
      <div class="container-lg ">
          <div class="row row-cols-sm-1 row-cols-1 row-cols-md-2 row-cols-lg-3  justify-conten-sm-center align-items-sm-center">
              <div class="col pt-2 pb-2">
                  <img src="./17.jpg" alt="Gallery" class="gallery-item img-fluid">
              </div>
              <div class="col pt-2 pb-2">
                <img src="./17.jpg" alt="Gallery" class="gallery-item img-fluid">
            </div>
            <div class="col pt-2 pb-2">
                <img src="./12.jpg" alt="Gallery" class="gallery-item img-fluid" >
            </div>
            <div class="col pt-2 pb-2">
                <img src="./16.jpg" alt="Gallery" class="gallery-item img-fluid">
            </div>
            <div class="col pt-2 pb-2">
                <img  src="./14.jpg" alt="Gallery" class="gallery-item img-fluid"  >
            </div>
            <div class="col pt-2 pb-2">
                <img src="./15.jpg" alt="Gallery" class="gallery-item img-fluid">
            </div>
             <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gallery-popup ">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="gallery-popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="./17.jpg" class="modal-img" alt="Modal Image">
        </div>
      </div>
    </div>
  </div>
          </div>
      </div>
  </section>

  <!-- modul-->
 














  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    document.addEventListener("click",function(e){
        if(e.target.classList.contains("gallery-item")){
            const src = e.target.getAttribute("src");
            document.querySelector(".modal-img").src = src;
            const myModal = new bootstrap.Modal(document.getElementById('gallery-popup'));
            myModal.show();
        }
    })
    
    </script>