<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container text-md-left">
        <div class="row class text-md-left">
            <div class="col-sm-3 col-md-4 col-lg-3 mx-auto mt-3">
                <h5 class="text-upercase mb-4 font-weight-bold text-warning"> TECHNOLOGY-WORLD</h5>
                <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid reprehenderit excepturi expedita facilis cupiditate ea consequuntur aperiam accusamus, laborum ipsa modi exercitationem fugit ullam architecto earum libero voluptate soluta saepe.</P>


            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto mt-3">
                <h5 class="text-upercase mb-4 font-weight-bold text-warning"> PRODUCTS</h5>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> The Providers</a>
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> Creativity </a>
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> Branches</a>
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> Delevery</a>
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> Our-Teams</a>
                </P>

            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto mt-3">
                <h5 class="text-upercase mb-4 font-weight-bold text-warning"> Usefull-Links</h5>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> Your-Account</a>
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> Become an Affiliaters</a>
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> Shipping Rates </a>
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> How To Delever the Goods</a>
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none"> Help</a>
                </P>

            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto mt-3">
                <h5 class="text-upercase mb-4 font-weight-bold text-warning"> Contact-Us</h5>
                <p>
                    <i class="fas fa-home me-3"></i> Austeria, Dornbirn 6850
                </p>
                <p>
                    <i class="fas fa-envelope me-3"></i> haidari.rah10@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone me-3"></i> +43 6606274876
                </p>
                <p>
                    <i class="fas fa-print me-3"></i> +01 354 254 2544
                </p>
                </div>
                <hr style="width:100%; height:5px;">

                <div class="row align-center">
                    <div class="col-md-7 col-lg-8">
                        <p class="text-muted">Copyright 04102021 ALL rights reserved by:
                            <a href="#" style="text-decoration: none;">
                                <strong class="text-warning">The Providers</strong>
                            </a>
                        </p>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-item">
                                <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm" style="font-size: 30px;background: #f09433; 
                                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);"><i class="fab fa-instagram">
                                </i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm" style="font-size: 30px; color: rgb(13, 64, 218);"><i class="fab fa-facebook">
                                    </i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="btn-floating btn-sm text-blue" style="font-size: 30px;"><i class="fab fa-twitter">
                                        </i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn-floating btn-sm" style="font-size: 30px; color: crimson;"><i class="fab fa-google-plus">
                                            </i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="btn-floating btn-sm" style="font-size: 30px; color: royalblue;"><i class="fab fa-linkedin">
                                                </i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="btn-floating btn-sm bnt-primary btn-outline-primary" style="font-size: 30px; color: indianred;"><i class="fab fa-youtube">
                                                    </i></a>
                                                    </li>

                            </ul>
                        </div>

                    </div>
                </div>
        </div>

    </div>
</footer>


<style>


   
</style>