<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light pt- pb-4 bg-secondary ms-4 me-4">
    <div class="container-xxl">
      <!-- navbar brand / title -->
      <a class="navbar-brand" href="#intro">
        <span class="text-black fw-bold ps-5">
          <i class="bi bi-laptop"></i>
          TECHNOLOGY-WORLD
        </span>
      </a>
      <!-- toggle button for mobile nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#HOME">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ABOUT">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#CONTACT">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#GALLERY">GALLERY</a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link" href="#PRICING">PRICING</a>
          </li>
          <li class="nav-item ms-2 d-none d-md-inline">
            <a class="btn btn-secondary btn-outline-primary text-black" href="#PRICING">buy now</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
